
body {
    background-color: #f8f9fa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    max-width: 500px;
    margin-top: 50px;
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #343a40;
    margin-bottom: 20px;
}
.btn-primary, .btn-secondary{
    margin: 5px 0;
}

.mb-3 *{
    margin: 10px 0;
}

